.navbar-right-mobile {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: var(--theme-bg-color);
    color: var( --color-font-texto);
    height: 60px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.568);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media (min-width: 650px) { 
      .navbar-right-mobile {
        display: none;
      }
  }